/* Google Fonts - Titillium Web */
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@400;600;700&display=swap');

body {
  font-family: 'Titillium Web', sans-serif;
}

.header-area {
  background-color: #86509C;
}

.header-area nav ul li a {
  border-radius: 5px;
  padding: 5px 30px;
}

.header-area nav ul li a:hover {
  background-color: #643A79;
  color: white;
}

.header-area .hero-area {
  margin: 150px 0;
}

.header-area .hero-area h1 {
  color: white;
  font-weight: 700;
  font-size: 42px;
  width: 70%;
  margin: auto;
  margin-bottom: 60px;
  line-height: 48px;
}

.header-area .hero-area a {
  background-color: #EB7D4C;
  color: white;
  text-transform: uppercase;
  padding: 10px 50px;
  border-radius: 3px;
  border: 3px solid transparent;
  border-bottom: 3px solid #c86a40;
  font-size: 0.9em;
  font-size: 18px;
}

.header-area .hero-area a:hover {
  border: 3px solid #EB7D4C;
  background-color: transparent;
}
/* header area css code end */

/* services area css code start */
.services-area {
  padding: 120px 0;
  background-color: #18C2A5;
}

.services-area .section-top {
  text-align: center;
  margin-bottom: 80px;
}

.services-area .section-top .section-title {
  position: relative;
  color: white;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}

.services-area .section-top .section-title::after {
  position: absolute;
  left: 50%;
  bottom: -23px;
  transform: translateX(-50%);
  content: '';
  width: 85px;
  height: 4px;
  background-color: #14a58c;
}

.services-area .section-top .section-desc {
  color: white;
  opacity: 0.8;
  width: 40%;
  margin: auto;
}

@media (max-width: 991px) {
  .services-area .section-top .section-desc {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .services-area .section-top .section-desc {
    width: 100%;
  }
}

.services-area .section-contents .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services-area .section-contents .item .icon img {
  height: 125px;
}

.services-area .section-contents .item .icon {
  margin-bottom: 60px;
}

.services-area .section-contents .item strong {
  margin-bottom: 30px;
  color: white;
  font-size: 24px;
  text-transform: uppercase;
}

.services-area .section-contents .item p {
  text-align: center;
  color: white;
  opacity: 0.8;
}
/* services area css code end */

/* team area css code start */
.team-area {
  padding: 120px 0;
  background-color: #e7f1f8;
}

.team-area .section-top {
  text-align: center;
  margin-bottom: 80px;
}

.team-area .section-top .section-title {
  position: relative;
  color: #3c4761;
  text-transform: uppercase;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 50px;
}

.team-area .section-top .section-title::after {
  position: absolute;
  left: 50%;
  bottom: -23px;
  transform: translateX(-50%);
  content: '';
  width: 85px;
  height: 4px;
  background-color: #c8d9e5;
}

.team-area .section-top .section-desc {
  color: #3c4761;
  opacity: 0.8;
  width: 40%;
  margin: auto;
}

@media (max-width: 991px) {
  .team-area .section-top .section-desc {
    width: 80%;
  }
}

@media (max-width: 767px) {
  .team-area .section-top .section-desc {
    width: 100%;
  }
}

.team-area .section-contents .all-team-member .team-member {
  text-align: center;
}

.team-area .section-contents .all-team-member .team-member .profile-image {
  display: block;
  border-radius: 50%;
  max-width: 200px;
  max-height: 200px;
  margin: auto;
  margin-bottom: 30px;
}

.team-area .section-contents .all-team-member .team-member .profile-name {
  display: block;
  font-size: 24px;
  text-transform: uppercase;
  color: #3c4761;
}

.team-area .section-contents .all-team-member .team-member .member-position {
  display: block;
  font-size: 16px;
  color: #30bae7;
}

.team-area .section-contents .all-team-member .team-member .social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.team-area .section-contents .all-team-member .team-member .social-links li a svg {
  background-color: #c8d9e5;
  color: #fff;
  padding: 6px;
  font-size: 14px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
}
/* team area css code end */